<a href="#" class="product-card mt-6 block">
  <div class="relative w-full">
    <!-- Rating Section -->
    <div class="absolute top-2 right-2 z-10 bg-white/50 backdrop-blur-sm rounded-lg p-2 shadow-md">
      <div class="flex items-center gap-1">
        @for (star of getStars(); track star) {
          <lucide-icon 
            [name]="StarIcon" 
            class="w-3 h-3"
            [class.text-yellow-400]="star <= product.rating"
            [class.text-gray-300]="star > product.rating">
          </lucide-icon>
        }
      </div>
      <div class="text-xs text-gray-600 text-center mt-1">
        {{ product.reviews }} reviews
      </div>
    </div>

    <div class="overflow-hidden relative h-48 rounded-lg shadow-sm">
        <img 
        [src]="product.imageUrl" 
        loading="lazy"
        class="absolute top-0 left-0 w-full h-full object-cover transition duration-300 ease-in-out hover:scale-125"
        [alt]="product.name">
        @if (!product.featured) {
          <div class="absolute inset-0 bg-black/40 backdrop-blur-[1px] flex items-center justify-center">
            <span class="px-3 py-1 bg-red-500 text-white text-sm font-medium rounded-full shadow-lg">
              Out of Stock
            </span>
          </div>
        }
    </div>
  </div>
  <div class="grid grid-cols-4 space-between items-center mt-2">
    <div class="flex flex-col items-start col-span-3">
        <h3 class="text-gray-800 line-clamp-1">{{ product.name }}</h3>
        @if (product.discountPrice) {
            <div class="flex items-center gap-2">
                <p class="text-gray-800 text-lg font-bold">{{ product.discountPrice | currency }}</p>
                <p class="text-red-800 text-sm line-through">{{ product.price | currency }}</p>
            </div>
        } @else {
            <p class="text-gray-800 text-lg font-bold">{{ product.price | currency }}</p>
        }
    </div>
    <div class="flex justify-end">
        @if (product.featured) {
          <button (click)="addToCart(product)" class="relative group cursor-pointer rounded-md p-2 hover:bg-gray-300 transform hover:rotate-360 transition duration-300 ">
            <lucide-icon [name]="ShoppingCartIcon" class="w-6 h-6 text-gray-800"></lucide-icon>
            <span class="absolute right-12 top-1/2 -translate-y-1/2 mr-2 px-3 py-1 bg-gray-800 text-white text-sm rounded-md opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap">
              Add to Cart
              <div class="absolute right-0 top-1/2 -translate-y-1/2 translate-x-1/2 rotate-45 w-2 h-2 bg-gray-800"></div>
            </span>
          </button>
        } @else {
          <button disabled class="relative group cursor-not-allowed rounded-md p-2 opacity-50">
            <lucide-icon [name]="ShoppingCartIcon" class="w-6 h-6 text-gray-400"></lucide-icon>
          </button>
        }
    </div>
  </div>
</a>
