<div class="flex justify-center mt-8 space-x-2">
    <button
      class="px-3 py-1 rounded-md shadow-sm"
      [ngClass]="{
        'bg-gray-100 text-gray-400 cursor-not-allowed': currentPage === 1,
        'bg-gray-200 text-gray-500 cursor-pointer': currentPage !== 1
      }"
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    @for (page of pages(); track page) {
    <button
      class="px-3 py-1 rounded-md shadow-sm"
      [ngClass]="{
        'bg-indigo-600 text-white': page === currentPage,
        'bg-gray-200 text-gray-500 cursor-pointer': page !== currentPage
      }"
      (click)="onPageChange(page)"
    >
      {{ page }}
    </button>
    }
    <button
      class="px-3 py-1 rounded-md shadow-sm"
      [ngClass]="{
        'bg-gray-100 text-gray-400 cursor-not-allowed':
          currentPage === totalPages(),
        'bg-gray-200 text-gray-500 cursor-pointer': currentPage !== totalPages()
      }"
      (click)="onPageChange(currentPage + 1)"
      [disabled]="currentPage === totalPages()"
    >
      Next
    </button>
</div>  